
@model IEnumerable<SAS.v1.Models.CampoClinicoAlumno>

@{
    ViewBag.Title = "Index";

}

<h1>Campos Clinicos</h1>
<br />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<form class="form-inline" method="POST">
    <div class="form-group"><input type="text" class="form-control" id="Filtro" placeholder="Ingrese Filtro" name="Filtro"  style="display:inline-block"></div>
    &nbsp;&nbsp;
        <p style="display:inline-block">Semestre:</p>
        <select id="selectValue" name="semestre" class="form-control" style="display:inline-block">
            <option value="" selected ></option>
            <option value="1º Semeste">1º Semeste</option>
            <option value="2º Semeste">2º Semeste</option>

        </select>
    
    <button type="submit" class="btn btn-primary"  style="display:inline-block">Buscar</button>
</form>
<table class="table" id="tablaCamposClinicosAlumnos">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.AlumnoId)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Alumno.Persona.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno.Persona.Dv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno.Persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno.Persona.ApPaterno)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Alumno.cursoNivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno.CentroFormador.Carrera.NombreCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoClinico.NombreCampoClinico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CampoClinico.Institucion.NombreInstitucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio.Ano)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AlumnoId)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Persona.Rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Persona.Dv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Persona.ApPaterno)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.cursoNivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asignatura.NombreAsignatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.CentroFormador.Carrera.NombreCarrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre.NombreSemestre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoClinico.NombreCampoClinico.NombreCampo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CampoClinico.Institucion.NombreInstitucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio.Ano)
                </td>
                <td>

                    @Html.ActionLink("Detalles", "Details", "Alumnos", new { id = item.Id }, null)

                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jszip.min.js "></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>
<script>
    $(document).ready(function () {

        $('#tablaCamposClinicosAlumnos').DataTable(
         {
            "bFilter": false,

            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "No se encontraron resultados.",
                "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                "oPaginate": {
                    "sFirst": "Inicio",
                    "sLast": "Final",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "sDom": '<"top"Blip>rt<p"clear">',
            "dom": 'Bfrtip',
            "buttons": ['excel']
         });
    });
</script>
