@model  SAS.v1.Models.CampoClinicoAlumno

@{
    ViewBag.Title = "Detalles Alumno";

}<div>
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Alumnos", "Index")</li>
        <li class="active">@ViewBag.Title</li>
        <li class="opcion">@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>
<h2>Detalles</h2>

<div>

    <form>
        <fieldset>
            <legend>Alumno</legend>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Persona.Rut)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Persona.Rut)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Persona.Dv)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Persona.Dv)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Persona.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Persona.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Persona.ApPaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Persona.ApPaterno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Persona.ApMaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Persona.ApMaterno)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.cursoNivel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.cursoNivel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.CentroFormador.NombreCentroFormador.NombreCentroFormador1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Alumno.CentroFormador.NombreCentroFormador.NombreCentroFormador1)                   
                </dd>
                @foreach( var item in Model.Alumno.ImunizacionAlumno){
               
                <dt>
                    @Html.DisplayNameFor(model => item.Inmunizacion.NombreInmunizacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => item.Inmunizacion.NombreInmunizacion)
                </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.Alumno.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Alumno.Observaciones)
                </dd>
            </dl>
        </fieldset>
    </form>

    <br />

    <form>
        <fieldset>
            <legend>Docente Guía</legend>
            <dl class="dl-horizontal">
                <dt>
                    Rut
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Persona.Rut)-@Html.DisplayFor(model => model.ProfesionalDocenteGuia.Persona.Dv)
                </dd>
                <dt>
                    Nombre
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Persona.Nombre)
                </dd>
                <dt>
                    Apellidos
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Persona.ApPaterno) @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Persona.ApMaterno)
                </dd>
                <dt>
                    Profesion
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Profesion)
                </dd>
                <dt>
                    N° SuperIntendencia
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.NumeroSuperintendencia)
                </dd>
                <dt>
                    Telefono
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Telefono)
                </dd>
                <dt>
                    Correo
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Correo)
                </dd>
                <dt>
                    Valor
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.ValorDocente)
                </dd>
                <dt>
                    Docencia Hospitalaria
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.DocenciaHospitalaria.NombreDocenciaHospitalaria)
                </dd>
                <dt>
                    Inmunización
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalDocenteGuia.Inmunizacion.NombreInmunizacion)
                </dd>
            </dl>

        </fieldset>
    </form>

    <br />
    <form>
        <fieldset>
            <legend>Profesior Supervisor</legend>
            <dl class="dl-horizontal">
                <dt>
                    Rut
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalSupervidor.Persona.Rut)-@Html.DisplayFor(model => model.ProfesionalSupervidor.Persona.Dv)
                </dd>
                <dt>
                    Nombre
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalSupervidor.Persona.Nombre)
                </dd>
                <dt>
                    Apellidos
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalSupervidor.Persona.ApPaterno) @Html.DisplayFor(model => model.ProfesionalSupervidor.Persona.ApMaterno)
                </dd>
                <dt>
                    Valor
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalSupervidor.ValorSupervisor)
                </dd>
                <dt>
                    Observaciones
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ProfesionalSupervidor.Observaciones)
                </dd>
            </dl>
         </fieldset>
    </form>
    <br />
    <form>
    <fieldset>
    <legend>Campo Clínico</legend>
        <dl class="dl-horizontal">
            @*<dt>
                    Unidad de Servicio
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UnidadDeServicio.NombreUnidadDeServicio.NombreUnidadDeServicio1)
                </dd>*@
            <dt>
                Campo Clinico
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreCampoClinico.NombreCampo)
            </dd>
            <dt>
                Semestre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semestre.NombreSemestre)
            </dd>
            <dt>
                Asignatura
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Asignatura.NombreAsignatura)
            </dd>
            <dt>
                Institución
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreCampoClinico.Institucion.NombreInstitucion)
            </dd>
            <dt>
                Periodo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Periodo.NombreJornada.Nombre)
            </dd>
            <dt>
                Desde - Hasta
            </dt>
            <dd>
                @*@Html.DisplayFor(model => model.Periodo.FechaInicio)-@Html.DisplayFor(model => model.Periodo.FechaTermino)*@
                @Html.DisplayFor(model => model.Periodo.DesdeHasta)
            </dd>
            <dt>Días</dt>
            @*<dd>
                                @foreach (var item in Model.CampoClinicoAlumnoDias)
                                {
                                    @Html.DisplayFor(modelItem => item.Dias.Dia)<p>-</p>
                                }

                </dd>*@
            <dd>@Html.DisplayFor(modelItem => Model.Dias) </dd>


            </dl>
        </fieldset>
       </form>
    </div>

<br />
<br />
<p>
    
    @Html.ActionLink("Volver", "Index")
   
</p>
