@*@using SAS.v1.Models

@model  IEnumerable<CampoClinicoAlumno>*@
@model SAS.v1.Models.Alumno

@{
    ViewBag.Title = "Detalle Campos Clinicos";
}
<div>
    <ul class="breadcrumb">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Alumnos", "Index")</li>
        <li class="active">@ViewBag.Title</li>
        <li class="opcion">@Html.ActionLink("Volver", "Index")</li>
    </ul>
</div>
<h3>Detalle Campos Clinicos</h3>
    <div class="ContornoDetalles">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Rut)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Rut)-@Html.DisplayFor(model => model.Persona.Dv)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Persona.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Persona.ApPaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.ApPaterno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Persona.ApMaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Persona.ApMaterno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CentroFormador.Carrera.NombreCarrera)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CentroFormador.Carrera.NombreCarrera)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CursoNivel)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CursoNivel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>
                
            </dl>
    </div>
   

    <table class="table" id="tablaDetalleCampos">
        <thead>
            <tr>
                
                @*<th>
                    Unidad De Servicio
                </th>*@
                <th>
                   Campo Clinico
                </th>
                <th>
                    Institución
                </th>
                <th>
                    Jornada
                </th>
                <th>
                    Fecha Inicio
                </th>
                <th>
                   Fecha Termino
                </th>

                @*<th>
                    @Html.DisplayNameFor(model => model.Carrera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inmunizacion)
                </th>*@
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CampoClinicoAlumno)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.AlumnoId)
                        </td>*@

                    @*<td>
                        @Html.DisplayFor(modelItem => item.UnidadDeServicio.NombreUnidadDeServicio.NombreUnidadDeServicio1)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CampoClinico.NombreCampoClinico.NombreCampo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CampoClinico.Institucion.NombreInstitucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodo.NombreJornada.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodo.FInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodo.FTermino)
                    </td>

                    <td>

                        @Html.ActionLink("Detalles", "Details", new { id = item.Id })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#tablaDetalleCampos').DataTable({
                "sDom": '<"top"ip>rt<"clear">',
                "bLengthChange": false,
                "iDisplayLength": 10,
                "bFilter": false,
                "aaSorting": [[0, "asc"]],
                "bAutoWidth": false,
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sLengthMenu": "Mostrar _MENU_ registros por página",
                    "sZeroRecords": "No se encontraron resultados.",
                    "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                    "oPaginate": {
                        "sFirst": "Inicio",
                        "sLast": "Final",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                "aoColumnDefs": []
            });
        });
    </script>

