     
@model IEnumerable <SAS.v1.Models.Alumno>

@{
    ViewBag.Title = "Index";
    
}

<h2>Alumnos</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<form class="form-inline" method="POST">
        <div class="form-group"><input type="text" class="form-control" id="Filtro" placeholder="Ingrese rut" name="Filtro"></div>
        <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<table class="table" id="tablaAlumnos">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.AlumnoId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Persona.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Dv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.ApPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona.ApMaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CursoNivel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CentroFormador.Carrera.NombreCarrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inmunizacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AlumnoId) 
                </td>*@
                        
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Rut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Dv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.ApPaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.ApMaterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CursoNivel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CentroFormador.Carrera.NombreCarrera)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inmunizacion.NombreInmunizacion)
                </td>
                <td>

                    @Html.ActionLink("Detalles", "DetalleCamposClinicos", new { id = item.AlumnoId }) 

                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#tablaAlumnos').DataTable({
                "sDom": '<"top"ip>rt<"clear">',
                "bLengthChange": false,
                "iDisplayLength": 10,
                "bFilter": false,
                "aaSorting": [[0, "asc"]],
                "bAutoWidth": false,
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "sLengthMenu": "Mostrar _MENU_ registros por página",
                    "sZeroRecords": "No se encontraron resultados.",
                    "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                    "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                    "oPaginate": {
                        "sFirst": "Inicio",
                        "sLast": "Final",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                },
                "aoColumnDefs": []
            });
        });
</script>

