@model SAS.v1.Models.ProfesionalDocenteGuia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ProfesionalDocenteGuia</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Profesion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Profesion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroSuperintendencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroSuperintendencia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Correo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Correo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ValorDocente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ValorDocente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Persona.Rut)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Persona.Rut)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DocenciaHospitalaria.NombreDocenciaHospitalaria)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DocenciaHospitalaria.NombreDocenciaHospitalaria)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Inmunizacion.NombreInmunizacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Inmunizacion.NombreInmunizacion)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
