

@{
    ViewBag.Title = "Proyeccion por Carrera";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Proyección de cupos"
	},
	subtitles: [{
	    text:""
	}],
	axisY: {
		title: "Numero De Cupos",
		gridThickness: 0
	},
	data: [{
		type: "bar",
		indexLabel: "{y}",
		dataPoints: @Html.Raw(@ViewBag.DataPoints),
	    click:onClick}]
});
chart.render();

}
    </script>
</head>
<body>
    <h1>Proyeccion de cupos</h1>
    <h2 style="color:#444444"> Total Cupos= @ViewBag.TotalCupos</h2>
    @*<H4>@Html.ActionLink("Crear Solicitud", "Index", "SolicitudDeCupos", new { Data= Json.Encode(@ViewBag.data)}, null)</H4>*@
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        CrearSolicitud
    </button>

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>


    @using (Html.BeginForm())
    {

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Crear una nueva solicitud</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                       @Html.ActionLink("Crear Solicitud", "GuardarProyeccion", "ProyeccionDeCupos", new { Data = Json.Encode(@ViewBag.data),AnioId = ViewBag.AnioId,CarreraId = ViewBag.Carrera }, new {@class= "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>

    }
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        function onClick(){
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                //var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                //modal.find('.modal-title').text('New message to ' + recipient)
                //modal.find('.modal-body input').val(recipient)
            })
        }
    </script>
</body>
</html>     