@model IEnumerable<SAS.v1.Models.PlanDeEstudio>

@{
    ViewBag.Title = "Plan de Estudios";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.RequisitosAsignatura.Semestre.NombreSemestre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequisitosAsignatura.Asignatura.CodigoAsignatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequisitosAsignatura.Asignatura.NombreAsignatura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UD)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Catedra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Taller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LAB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SCT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Curso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequisitosAsignatura.PorcentajeReprobacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrera.NombreCarrera)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anio.Ano)
                </th>
                <th></th>

            </tr>
        </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitosAsignatura.Semestre.NombreSemestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitosAsignatura.Asignatura.CodigoAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitosAsignatura.Asignatura.NombreAsignatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Catedra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LAB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SCT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitosAsignatura.PorcentajeReprobacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera.NombreCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio.Ano)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>

    <script>
    $(document).ready(function () {

        $('#tablaAlumnos').DataTable(
         {
            "bFilter": false,

            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "No se encontraron resultados.",
                "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                "oPaginate": {
                    "sFirst": "Inicio",
                    "sLast": "Final",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "sDom": '<"top"Blip>rt<p"clear">',
            buttons: ['excel']
         });
    });
    </script>
    <script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js "></script>
    <script src="~/Scripts/DataTables/buttons.html5.min.js"></script>

</body>
</html>
