@model  IEnumerable<SAS.v1.Models.Alumno>


@{
    ViewBag.Title = "Asignacion de Alumnos";

 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*@using (Html.BeginForm("Index", "AsignacionAlumnos",new { cambio=ViewBag.cambio }, FormMethod.Post,null))
{*@



    <form class="form-inline" method="POST">

        <div>
            <table class="table" id="tablaAlumnos">
                <thead>
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.Persona.Rut)
                           
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Persona.Dv)
                      
                        </th>
                        <th>
                         @Html.DisplayNameFor(model => model.Persona.Nombre)
                            
                        </th>
                        <th>
                          @Html.DisplayNameFor(model => model.Persona.ApPaterno)
                            
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Persona.ApMaterno)
                            
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cursoNivel)
                          
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CentroFormador.Carrera.NombreCarrera)
                            
                        </th>
                        <th>
                            Imnunización
                        </th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            @*<td>
                                @*<input type="checkbox" id="cbox" name="Alumnos" value=@item.AlumnoId>
                                @Html.CheckBoxFor(m => Model.check)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Dv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.ApPaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.ApMaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cursoNivel)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CentroFormador.Carrera.NombreCarrera)
                            </td>
                            <td>
                                @foreach (var inmu in item.ImunizacionAlumno)
                                {
                                    @Html.DisplayFor(modelItem => inmu.Inmunizacion.NombreInmunizacion)
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Asignar Alumnos", "AsignarAlumno", "AsignacionAlumnos",new { AlumnoId = item.AlumnoId,Solicitud=@ViewBag.Solicitud },new {@class= "btn btn-default" })
                                <button type="button" class="btn btn-default" id="btnAsignar" onclick="Asig" >asignar</button>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

           
        </div>
        </form>
        @*}*@
</body>
</html>
<script>
    $(document).ready(function () {

        $('#tablaAlumnos').DataTable(
         {
            "bFilter": false,

            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "No se encontraron resultados.",
                "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                "oPaginate": {
                    "sFirst": "Inicio",
                    "sLast": "Final",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "sDom": '<"top"Blip>rt<p"clear">',
            buttons: ['excel']
         });
    });
</script>

<script>
    $('#eModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
<script>
    function Asig() {
        alert("click");
    }
</script>
