@model  IEnumerable<SAS.v1.Models.Alumno>


@{
    ViewBag.Title = "Asignacion de Alumnos";

 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*@using (Html.BeginForm("Index", "AsignacionAlumnos",new { cambio=ViewBag.cambio }, FormMethod.Post,null))
{*@
    <form class="form-inline" method="POST">

        <div>
            <table class="table" id="tablaAlumnos">
                <thead>
                    <tr>
                        
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.Persona.Rut)*@
                            Rut
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.Persona.Dv)*@
                            DV
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.Persona.Nombre)*@
                            Nombre
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.Persona.ApPaterno)*@
                            ApPaterno
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.Persona.ApMaterno)*@
                            ApMaterno
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.cursoNivel)*@
                            Curso
                        </th>

                        <th>
                            @*@Html.DisplayNameFor(model => model.alumnos.CentroFormador.Carrera.NombreCarrera)*@
                            Carrera
                        </th>
                        <th>
                            Imnunización
                        </th>
                        <th></th>


                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            @*<td>
                                @*<input type="checkbox" id="cbox" name="Alumnos" value=@item.AlumnoId>
                                @Html.CheckBoxFor(m => Model.check)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Dv)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.ApPaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona.ApMaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cursoNivel)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CentroFormador.Carrera.NombreCarrera)
                            </td>
                            <td>
                                @foreach (var inmu in item.ImunizacionAlumno)
                                {
                                    @Html.DisplayFor(modelItem => inmu.Inmunizacion.NombreInmunizacion)
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Asignar Alumnos", "AsignarAlumno", "AsignacionAlumnos",new { AlumnoId = item.AlumnoId},new {@class= "btn btn-default" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#eModal">
                Asignar Alumnos
            </button>

            <div class="modal" tabindex="-1" role="dialog" id="eModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Asignacion alumnos</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="Carrera-name" class="col-form-label">Profesor Supervisor:</label>
                                @Html.DropDownList("ProfesorSupervisor", null, htmlAttributes: new { @class = "form-control" })
                            </div>


                            <div class="form-group">
                                <label for="Carrera-name" class="col-form-label">Profesor Guia:</label>
                                @Html.DropDownList("ProfesorGuia", null, htmlAttributes: new { @class = "form-control" })
                            </div>

                            <p>Dias</p>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Lunes">
                                <label class="form-check-label" for="inlineCheckbox1">Lunes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Martes">
                                <label class="form-check-label" for="inlineCheckbox2">Martes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Miercoles">
                                <label class="form-check-label" for="inlineCheckbox3">Miercoles</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Jueves">
                                <label class="form-check-label" for="inlineCheckbox3">Jueves</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Viernes">
                                <label class="form-check-label" for="inlineCheckbox3">Viernes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Sabado">
                                <label class="form-check-label" for="inlineCheckbox3">Sabado</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="Domingo">
                                <label class="form-check-label" for="inlineCheckbox3">Domingo</label>
                            </div>


                        </div>
                        @*<div>@Html.ActionLink("Asignar", "Asignar", "AsignacionAlumnos", new { model = Model }, null)</div>*@

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Asignar alumnos" class="btn btn-default" id="AsAlumnos" />
                                    @*<button type="button" value="Asignar alumnos" class="btn btn-default" id="AsAlumnos" onclick="AsignarAl()"></button>*@
                                </div>
                            </div>
                            @*<button type="button" class="btn btn-primary" onclick="AsignarAl()">
                                    Asignar Alumnos
                                </button>*@
                        </div>

                    </div>
                </div>
            </div>

        </div>
        </form>
        @*}*@
</body>
</html>
<script>
    $(document).ready(function () {

        $('#tablaAlumnos').DataTable(
         {
            "bFilter": false,

            "oLanguage": {
                "sLengthMenu": "Mostrar _MENU_ registros por página",
                "sZeroRecords": "No se encontraron resultados.",
                "sInfo": "Mostrando _START_ al _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 al 0 de 0 registros",
                "sInfoFiltered": "(filtrado(s) de _MAX_ registro(s))",
                "oPaginate": {
                    "sFirst": "Inicio",
                    "sLast": "Final",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            },
            "sDom": '<"top"Blip>rt<p"clear">',
            buttons: ['excel']
         });
    });
</script>

<script>
    $('#eModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
<script>
    $('AsAlumnos').click(function () {
        alert("click")
        @{ 
            ViewBag.cambio = "Si Cambio";
        }
    });
</script>
