@model IEnumerable<SAS.v1.Models.ProyeccionDeCupo>


@{
    ViewBag.Title = "Solicitud de Cupos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div> 
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            <span class="fa fa-search">Nueva solicitud</span>
        </button>*@
        <h1>Solicitud de Cupos - Campos Clinicos</h1>
        <table class="table" id="TablaSolicitudDeCupos">

            <thead>
                <tr>
                    <th>
                   
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @if (ViewBag.DataPoint == null)
                        {
                            <script>
                                alert('@ViewBag.Error');
                            </script>
                        }
                        else if (@ViewBag.Error != null)
                        {
                            <script>
                                alert('@ViewBag.Error');
                            </script>
                        }

                        else
                        {

                            int i = 0;
                            int x = 0;

                            foreach (var item in Model)
                            {


                        <div class="panel-group" id="accordion_@i">
                            <div class="panel panel-default" id="panel_@i">
                                <div class="panel-heading" id="Heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-target="#collapseOne_@i" data-toggle="collapse" href="#collapseOne_@i" >
                                            @item.Asignatura.NombreAsignatura / Cupos Disponibles:@item.CuposRestantes
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne_@i" class="panel-collapse collapse" aria-labelledby="Heading" >
                                    <div class="panel-body">
                      

                                        <p>@Html.ActionLink("Nueva Solicitud", "Modal", new { index = i, DataPoint = Json.Encode(@ViewBag.DataPoint),CarreraId=ViewBag.CarreraId, AsignaturaId = item.AsignaturaId }, new { @class = "btn btn - default" })</p>
                                                                 
                                            <table>

                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Carrera
                                                        </th>
                                                        <th>
                                                            Institucion
                                                        </th>
                                                        <th>
                                                            Hospital/Establecimiento
                                                        </th>
                                                        <th>
                                                            Servicio
                                                        </th>
                                                        <th>
                                                            Cupo Alumno
                                                        </th>
                                                        <th>
                                                            Semanas por grupo
                                                        </th>
                                                        <th>
                                                            Desde/Hasta
                                                        </th>
                                                        <th>
                                                            Jornada
                                                        </th>
                                                        <th>
                                                            Tipo de Supervicion
                                                        </th>
                                                        <th>
                                                            Asignatura
                                                        </th>
                                                        <th>
                                                            Observacion
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var result in item.SolicitudDeCupo) {


                                                    <tr>
                                                        <td>
                                                            @result.Carrera.NombreCarrera
                                                        </td>

                                                        <td>
                                                            @result.NombreCampoClinico.Institucion.NombreInstitucion
                                                        </td>
                                                        <td>
                                                            @result.NombreCampoClinico.NombreCampo
                                                        </td>
                                                        <td>
                                                            @result.Servicio.NombreServicio
                                                        </td>
                                                        <td>
                                                         @result.CuposAlumnos
                                                        </td>
                                                        <td>
                                                            @result.TotalSemanaPorGrupo
                                                        </td>
                                                        <td>
                                                           @result.Periodo.DesdeHasta
                                                        </td>
                                                        <td>
                                                           @result.Periodo.NombreJornada.Nombre
                                                        </td>
                                                        <td>
                                                           @result.Supervision.NombreSupervision
                                                        </td>
                                                        <td>
                                                           @result.Asignatura.NombreAsignatura
                                                        </td>
                                                        <td>
                                                           @result.Observacion
                                                        </td>
                                                        <td>@Html.ActionLink("Asignar Alumnos", "Index", "AsignacionAlumnos", new { SolicitudId = result.Id }, new { target = "_blank" })
                                                        </td>

                                                    </tr>
                                                        x++;
                                                    }
                                                </tbody>
                                            </table>
</div>
                                </div>
                            </div>                          
                        </div>
                                i++;
                            }
                        }
                    </td>
                </tr>
            </tbody>
            

        </table>


</div>

</body>
</html>
<script>
   
    $(function () {
        $('#NuevaSolicitud').click(function () {
            var index = $(this).index;
            alert('el accordion es '+index)
        })

    });
    $(function () {
        $("#datepicker").datepicker();
    });

    $(function () {
        $("#datepicker2").datepicker();
    });

    @*$('#AsignarAl').click(function () {

        $.ajax({
            url: '@(Url.Action("Index", "AsignacionAlumnos"))',
            type: 'POST',
            data: {
                Solicitud: 'result'
            }
        });
    });*@

</script>