@model SAS.v1.Models.SolicitudDeCupo


@{
    ViewBag.Title = "Solicitud de Cupos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div>
        @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                <span class="fa fa-search">Nueva solicitud</span>
            </button>*@

        <table class="table" id="TablaSolicitudDeCupos">

            <thead>
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @if (ViewBag.DataPoint == null)
                        {
                            <script>
                                alert('@ViewBag.Error');
                            </script>
                        }
                        else
                        {

                            int i = 0;
                            foreach (var item in @ViewBag.DataPoint)
                            {


                                <div class="panel-group" id="accordion_@i">
                                    <div class="panel panel-default" id="panel_@i">
                                        <div class="panel-heading" id="Heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-target="#collapseOne_@i" data-toggle="collapse" href="#collapseOne_@i">
                                                    @item.Label / Cupos Disponibles:@item.Y
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne_@i" class="panel-collapse collapse" aria-labelledby="Heading">
                                            <div class="panel-body">
                                                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="NuevaSolicitud">
                                                        <span class="fa fa-search">Nueva solicitud</span>
                                                    </button>*@

                                                <p>@Html.ActionLink("Nueva Solicitud", "Modal", new { index = i, DataPoint = Json.Encode(@ViewBag.DataPoint) }, null)</p>

                                                <table>

                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Carrera
                                                            </th>
                                                            <th>
                                                                Institucion
                                                            </th>
                                                            <th>
                                                                Hospital/Establecimiento
                                                            </th>
                                                            <th>
                                                                Servicio
                                                            </th>
                                                            <th>
                                                                Cupo Alumno
                                                            </th>
                                                            <th>
                                                                Semanas por grupo
                                                            </th>
                                                            <th>
                                                                Desde/Hasta
                                                            </th>
                                                            <th>
                                                                Jornada
                                                            </th>
                                                            <th>
                                                                Tipo de Supervicion
                                                            </th>
                                                            <th>
                                                                Asignatura
                                                            </th>
                                                            <th>
                                                                Observacion
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Carrera.NombreCarrera)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.CampoClinico.Institucion.NombreInstitucion)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.CampoClinico.NombreCampoClinico.NombreCampo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Servicio.NombreServicio)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.CuposAlumnos)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.TotalSemanaPorGrupo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Periodo.DesdeHasta)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Periodo.NombreJornada.Nombre)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Supervision.NombreSupervision)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Asignatura.NombreAsignatura)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(Model => Model.Observacion)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                i++;
                            }
                        }
                    </td>
                </tr>
            </tbody>


        </table>

        @*@using (Html.BeginForm())
            {

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Crear una nueva solicitud</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="@Url.Action("Index", "SolicitudDeCupos")" class="form-horizontal" method="POST">

                                        @*<div class="form-group">
                                            <label for="Carrera-name" class="col-form-label">Carrera:</label>
                                            @Html.DropDownList("DataPoint", null, htmlAttributes: new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label for="Carrera-name" class="col-form-label">Carrera:</label>
                                            @Html.DropDownList("CarreraId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        @*<div class="form-group">
                                            <label for="Año-name" class="col-form-label">Año:</label>
                                            @Html.EditorFor(model => model.A, new { htmlAttributes = new { @class = "form-control", @id = "Carrera-name" } })
                                        </div>
                                        <div class="form-group">
                                            <label for="Institucion-name" class="col-form-label">institución:</label>
                                            @Html.DropDownList("InstitucionId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Establecimiento-name" class="col-form-label">Establecimiento:</label>
                                            @Html.DropDownList("NombreCampoId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Servicio-name" class="col-form-label">Servicio:</label>
                                            @Html.EditorFor(model => model.Servicio.NombreServicio, new { htmlAttributes = new { @class = "form-control", @id = "Servicio-name" } })
                                        </div>
                                        <div class="form-group">
                                            <label for="Cupos-name" class="col-form-label">Cupos Alumnos:</label>
                                            @Html.EditorFor(model => model.CuposAlumnos, new { htmlAttributes = new { @class = "form-control", @id = "Cupos-name" } })
                                        </div>
                                        <div class="form-group">
                                            <label for="Semanas-name" class="col-form-label">Total Semenas por grupo:</label>
                                            @Html.EditorFor(model => model.TotalSemanaPorGrupo, new { htmlAttributes = new { @class = "form-control", @id = "Semanas-name" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="datepicker" class="col-form-label">Desde:</label>
                                            @Html.EditorFor(model => model.Periodo.FechaInicio, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="datepicker2" class="col-form-label">Hasta:</label>
                                            @Html.EditorFor(model => model.Periodo.FechaTermino, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="jornada-name" class="col-form-label">Jornada y Horarios:</label>
                                            @Html.DropDownList("NombreJornadaId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>

                                        <div class="form-group">
                                            <label for="Supervicion-name" class="col-form-label">Tipo Supervicion:</label>
                                            @Html.EditorFor(model => model.Supervision.NombreSupervision, new { htmlAttributes = new { @class = "form-control", @id = "Supervicion-name" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="Asignatura-name" class="col-form-label">Asignatura:</label>
                                            @Html.EditorFor(model => model.Asignatura.NombreAsignatura, new { htmlAttributes = new { @class = "form-control", @id = "Asignatura-name" } })
                                        </div>

                                        <div class="form-group">
                                            <label for="Observacion-name" class="col-form-label">Observaciones:</label>
                                            @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", @id = "Observacion-name" } })
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

            }*@
    </div>

</body>
</html>
<script>
    //$('#exampleModal').on('show.bs.modal', function (event) {
    //    var button = $(event.relatedTarget) // Button that triggered the modal
    //    //var recipient = button.data('whatever') // Extract info from data-* attributes
    //    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    //    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //    var modal = $(this)

    //    var active = $(".selector").accordion("option", "active");


    //    //modal.find('.modal-title').text('New message to ' + recipient)
    //    //modal.find('.modal-body input').val(recipient)
    //})

    $(function () {
        $('#NuevaSolicitud').click(function () {
            var index = $(this).index;
            alert('el accordion es '+index)
        })

    });
    $(function () {
        $("#datepicker").datepicker();
    });

    $(function () {
        $("#datepicker2").datepicker();
    });



</script>