@model SAS.v1.Models.AsignaturaAlumno

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AsignaturaAlumno</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EstadoAsignatura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoAsignatura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AsignaturaPreRequisito)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AsignaturaPreRequisito)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Alumno.CursoNivel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Alumno.CursoNivel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Asignatura.NombreAsignatura)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Asignatura.NombreAsignatura)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Anio.Ano)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Anio.Ano)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Semestre.NombreSemestre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Semestre.NombreSemestre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PorcentajeDeExigencia.Id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PorcentajeDeExigencia.Id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Carrera.NombreCarrera)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Carrera.NombreCarrera)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
